.heading {
  text-align: center;
}
.deleteCont {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.file-upload-info {
  font-size: 10px;
}
