@import url("https://fonts.googleapis.com/css2?family=Acme&family=Poppins:wght@400;600&display=swap");

.order {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.table {
  border-radius: 10px !important;
  border-color: black !important;
  border-width: 2px;
  border-style: solid !important;
}
.btn1 {
  margin-top: 10px;
}
.heading {
  font-family: "Poppins", sans-serif !important;
  font-weight: bolder !important;
  color: white;
  background-color: black;
}
.heading1 {
  font-family: "Poppins", sans-serif !important;
  font-weight: bolder !important;
  background-color: rgb(157, 223, 91);
}
.table-bordered > :not(caption) > * > * {
  border-width: 0 1px;

  font-family: "Acme", sans-serif;
}
.table > :not(:last-child) > :last-child > * {
  border-bottom-color: currentColor;
  font-weight: bolder;
  font-family: "Poppins", sans-serif !important;
}
.list-group-item + .list-group-item {
  border-top-width: 0;
  font-size: larger;
  font-weight: bolder;
  font-family: "Poppins", sans-serif !important;
  text-align: center;
}
.table-container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 500px) {
  .table-container {
    width: 60%;
  }
}
.order-status-div {
  margin-top: 30px;
}

.totaldiv {
  margin-top: 30px;
}
